{% load myfilters %}
<form action="{% url 'password' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label>Old Password</label>
        {{form.old_password|addclass:'form-control'}}
        <small class="form-text text-danger">{{form.old_password.errors}}</small>
        <small>{{form.old_password.help_text}}</small>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col form-group">
                <label>New Password</label>
                {{form.new_password1|addclass:'form-control'}}
                
            </div>
            <div class="col form-group">
                <label>New Password Again</label>
                {{form.new_password2|addclass:'form-control'}}
            </div>
            <small class="form-text text-danger">{{form.new_password2.errors}}</small>
            <small class="form-text text-muted">{{form.new_password1.help_text}}</small>
        </div>
    </div>

    <button type='submit' class='btn btn-primary'>{% if btn_label %}
        {{btn_label}} {% else %}Save{% endif %}</button>
</form>
