<form method="POST" action="{% url 'task-edit-api' task.id %}" id="form">
    {% csrf_token %}
    <div class="form-group">
        <label for="task-input">Task</label>
        <input name="task" class="form-control" id="task-input" type="text" minlength="1" maxlength="64" value="{{task.task}}">
    </div>
    <div class="form-group">
        <label for="priority-input">Priority</label>
        <select class="form-control" name="priority" id="priority-input">
            {% for priority in priorities %}
            <option value="{{priority.0}}">{{priority.1}}</option>
            {% endfor %}
           
        </select>
    </div>
    <div class="form-group">
        <label for="list-input">List</label>
        <select class="form-control" name="list" id="list-input">
            {% if default_list %}
            <option value="{{default_list.0}}">{{default_list.1}}</option>
            {% else %}
            <option value="">None</option>
            {% endif %}
            {% for list in lists %}
            <option value="{{list.0}}">{{list.1}}</option>
            {% endfor %}
            {% if default_list %}
            <option value="">None</option>
            {% endif %}
        </select>
    </div>
    <div class='form-group'>
        <label for="datepicker">Due to</label>
        <input type='text' class="form-control" id='datepicker' name="due" value="{{due}}">
        <small class="form-text text-muted">Enter date in yyyy-mm-dd format.</small>
       </div>
 
    <div class="form-group">
        <label for="repeat-input">Repeat</label>
        {{default_repeat}}
        <select class="form-control" name="repeat" id="repeat-input">
            {% for repeat in repeats %}
            <option value="{{repeat.0}}">{{repeat.1}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="datepicker1">End Repeat</label>
        <input type='text' class="form-control" id='datepicker1' name="end_repeat" value="{{end_repeat}}">
        <small class="form-text text-muted">Enter date in yyyy-mm-dd format.</small>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Save Changes  <i class="far fa-save"></i></button>
</form>
<br>
{% include "components/task_delete_form.html" %}