<form method="POST" action="{% url 'task-edit-api' task.id %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="task-input">Task</label>
        <input name="task" class="form-control" id="task-input" type="text" minlength="1" maxlength="64" value="{{task.task}}">
        {% if task_input_error %}
        <small class="form-text text-danger">{{task_input_error}}</small>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="priority-input">Priority</label>
        <select class="form-control" name="priority" id="priority-input">
            {% if priority %}
            <option value="{{priority.0}}">{{priority.1}}</option>
            {% else %}
            <option value="">None</option>
            {% endif %}
            {% for priority in priorities %}
            <option value="{{priority.0}}">{{priority.1}}</option>
            {% endfor %}
            {% if priority %}
            <option value="">None</option>
            {% endif %}
        </select>
        {% if priority_input_error %}
        <small class="form-text text-danger">{{priority_input_error}}</small>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="list-input">List</label>
        <select class="form-control" name="list" id="list-input">
            {% if list %}
            <option value="{{list.0}}">{{list.1}}</option>
            {% else %}
            <option value="">None</option>
            {% endif %}
            {% for list in lists %}
            <option value="{{list.0}}">{{list.1}}</option>
            {% endfor %}
            {% if list %}
            <option value="">None</option>
            {% endif %}
        </select>
        {% if list_input_error %}
        <small class="form-text text-danger">{{list_input_error}}</small>
        {% endif %}
    </div>
    <div class='form-group'>
        <label for="datepicker">Due to</label>
        <input type='text' class="form-control" id='datepicker' name="due" value="{{task.due}}">
       </div>
       
       <!-- Script -->
       <script type="text/javascript">
       $(document).ready(function(){
        $('#datepicker').datepicker(); 
       });
       </script>
        {% if date_input_error %}
        <small class="form-text text-danger">{{date_input_error}}</small>
        {% endif %}
 
    <div class="form-group">
        <label for="repeat-input">Repeat</label>
        <select class="form-control" name="repeat" id="repeat-input">
            {% if repeat %}
            <option value="{{repeat.0}}">{{repeat.1}}</option>
            {% else %}
            <option value="">None</option>
            {% endif %}
            {% for repeat in repeats %}
            <option value="{{repeat.0}}">{{repeat.1}}</option>
            {% endfor %}
            {% if repeat %}
            <option value="">None</option>
            {% endif %}
        </select>
        {% if repeat_input_error %}
        <small class="form-text text-danger">{{repeat_input_error}}</small>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="datepicker1">End Repeat</label>
        <input type='text' class="form-control" id='datepicker1' name="end_repeat" value="{{task.end_repeat}}">
       </div>
       
       <!-- Script -->
       <script type="text/javascript">
       $(document).ready(function(){
        $('#datepicker1').datepicker(); 
       });
       </script>
            {% if end_input_error %}
            <small class="form-text text-danger">{{end_input_error}}</small>
            {% endif %}
    <div class="form-group">
        <label for="assigned-input">Assigned to</label>
        <select class="form-control" name="assigned" id="assigned-input">
            {% if assigned %}
            <option value="{{assigned.0}}">{{assigned.1}}</option>
            {% else %}
            <option value="">None</option>
            {% endif %}
            {% for user in users %}
            <option value="{{user.id}}">{{user.username}}</option>
            {% endfor%}
            {% if user %}
            <option value="">None</option>
            {% endif %}
        </select>
        {% if assigned_input_error %}
            <small class="form-text text-danger">{{assigned_input_error}}</small>
            {% endif %}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>