
<form method='POST' id='form' action='{% url 'task-create-api' %}'>
    {% csrf_token %}
    <div class="form-group">
        <label for="task-input">Task</label>
        <input name="task" class="form-control" id="task-input" type="text" minlength="1" maxlength="64">
    </div>
    <div class="form-group">
        <label for="priority-input">Priority</label>
        <select class="form-control" name="priority" id="priority-input">
            <option disabled selected value> -- select an option -- </option>
            {% for priority in priorities %}
            <option value="{{priority.0}}">{{priority.1}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="list-input">List</label>
        <select class="form-control" name="list" id="list-input">
            <option disabled selected value> -- select an option -- </option>
            {% for list in lists %}
            <option value="{{list.0}}">{{list.1}}</option>
            {% endfor %}
        </select>
    </div>
    <div class='form-group'>
        <label for="datepicker">Due to</label>
        <input type='text' class="form-control" name="due">
        <small class="form-text text-muted">Enter date in yyyy-mm-dd format.</small>
       </div>
       
 
    <div class="form-group">
        <label for="repeat-input">Repeat</label>
        <select class="form-control" name="repeat" id="repeat-input">
            <option disabled selected value> -- select an option -- </option>
            {% for repeat in repeats %}
            <option value="{{repeat.0}}">{{repeat.1}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label >End Repeat</label>
        <input type='text' class="form-control" name="end_repeat">
        <small class="form-text text-muted">Enter date in yyyy-mm-dd format.</small>
       </div>
    <br>
    <button type="submit" class="btn btn-primary">Create Task</button>
</form>