{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

<div class='col-10 col-md-8 mx-auto py-3 px-3 mt-2' id="background">
<h1 id="title">{{title}}</h1>
{% include template_name %}
</div>

<script>

  function handleEditFormDidSubmit(event) {
      event.preventDefault()
      const form = event.target
      const formData = new FormData(form)
      const url = form.getAttribute('action')
      const method = form.getAttribute('method')
      const xhr = new XMLHttpRequest()
      const responseType = "json"
      xhr.responseType = responseType
      xhr.open(method, url)
      xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
      xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
      xhr.onload = function() {
          if (xhr.status === 201) {
              form.reset()
              window.location.href='/'
          }
          else if (xhr.status === 200) {
              form.reset()
              window.location.href='/'
          }
          else if (xhr.status === 400)
          {
              form.reset()
          }
          else if (xhr.status === 403)
          {

          }
          else if (xhr.status === 404)
          {
              
          }
      }
      xhr.send(formData)
  }

  formElement = document.getElementById('form');

  formElement.addEventListener('submit', handleEditFormDidSubmit)







</script>


<style>
    body {background-color: #15acf3;}
    #background {border:.5px solid #000000;
  background: white;
  border-radius:10px;
  box-shadow:0px 0px 10px slategray;}

</style>
{% endblock %}