{% extends 'base.html' %}

{% block title %}
ToDo App
{% endblock title %}

{% block content %}
{{ user_id |json_script:"user-id" }}
<div class='col-10 col-md-8 mx-auto py-3 px-3 mt-2'>
    <ul class="list-group list-group-flush" id="todo-list">
        
      </ul>
</div>

<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


function getUserId() {
    const id = JSON.parse(document.getElementById('user-id').textContent)
    return id
}


function formatTask(element) {
   var li =document.createElement('li')
   li.innerHTML = element['task']
   return li
    
}

function displayTasks(response) {
    parent = document.getElementById('todo-list')
    var i;
    for (i=0; i<response.length; i++) {
        var task_obj = response[i]
        current = formatTask(task_obj)
        parent.appendChild(current)
    }
}


function loadTasks() {
    console.log('Loading')
    const xhr = new XMLHttpRequest()
    const responseType = 'json'
    const user = getUserId()
    const url = `/api/user/${user}/`
    console.log('url:', url)
    const method = 'GET'
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
    xhr.onload = function() {
        const serverResponse = xhr.response
        displayTasks(serverResponse)
    }
    xhr.send()


}


    document.addEventListener('DOMContentLoaded', function() {
        loadTasks()
    })

</script>
{% endblock content %}

