{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
{{ list_id |json_script:"list-id" }}
<h1>{{title}}</h1>
<div class='col-10 col-md-8 mx-auto py-3 px-3 mt-2'>
    <ul class="list-group list-group-flush" id="list">
    </ul>
</div>
<div class='col-10 col-md-8 mx-auto py-3 px-3 mt-2'>
    <div >
        <span style="display:inline-block ;"><i id="new-reminder-button" style='cursor: pointer;color:#15acf3;' class="fa-solid fa-circle-plus"></i></span>
        <p style="display:inline-block;padding-left: 0.5rem;color: #15acf3;">New Reminder</p>
    </div>
</div>

<script>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    
    function getListId() {
        const id = JSON.parse(document.getElementById('list-id').textContent)
        return id
    }
    
    
    function formatTask(element) {
       var li =document.createElement('li')
       li.innerHTML = `<div><a href="/edit-task/${element['id']}" style="text-decoration:none;color:black;">${element['task']}</a>`
       li.classList.add("list-group-item")
       return li
        
    }
    
    function displayTasks(response) {
        parent = document.getElementById('list')
        var i;
        for (i=0; i<response.length; i++) {
            var task_obj = response[i]
            current = formatTask(task_obj)
            parent.appendChild(current)
        }
    }
    
    
    function loadTasks() {
        const xhr = new XMLHttpRequest()
        const responseType = 'json'
        const list = getListId()
        const url = `/api/list/${list}/`
        const method = 'GET'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))
        xhr.onload = function() {
            const serverResponse = xhr.response
            displayTasks(serverResponse)
        }
        xhr.send()
    
    
    }
    
    
        document.addEventListener('DOMContentLoaded', function() {
            loadTasks()
        })
    
    </script>

{% endblock content %}
