{% extends 'base.html' %}
{% load static %}
{% block title %}Lists{% endblock title %}

{% block content %}

<div class='col-10 col-md-8 mx-auto py-3 px-3 mt-2'>
  <h1>Lists</h1>
  <br>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Sort by
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#" id="by-creation">Created</a></li>
          <li><a class="dropdown-item" href="#" id="by-name">Name</a></li>
        </ul>
      </div>
    </div>
<div class='col-10 col-md-8 mx-auto py-3 px-3 mt-2'>
    <ul class="list-group list-group-flush" id="all-lists">
        {% for list in lists %}
        <li data-created="{{list.timestamp}}" data-name="{{list.list}}" class="list-group-item" >
        <a href="{% url 'list' list.id %}" style="text-decoration:none;color:black;">{{list.list}}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class='col-10 col-md-8 mx-auto py-3 px-3 mt-2'>
    <div >
        <span style="display:inline-block ;"><i id="new-list-button" style='cursor: pointer;color:#15acf3;' class="fa-solid fa-circle-plus"></i></span>
        <p style="display:inline-block;padding-left: 0.5rem;color: #15acf3;">New List</p>
    </div>
</div>

<script src="{% static 'js/lists.js' %}"></script>  


{% endblock content %}