{% extends 'base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
{{ list_id |json_script:"list-id" }}

<div class='col-10 col-md-8 mx-auto py-3 px-3 mt-2'>
    <h1><a id='editListLink' href='#' style='text-decoration:none;color:black;'>{{title}}</a></h1>
    <br>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Sort by
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#" id="by-creation">Created</a></li>
          <li><a class="dropdown-item" href="#" id="by-priority">Priority</a></li>
          <li><a class="dropdown-item" href="#" id="by-name">Name</a></li>
          <li><a class="dropdown-item" href="#" id="by-due">Due to</a></li>
        </ul>
      </div>
    </div>
<div class='col-10 col-md-8 mx-auto py-3 px-3 mt-2'>
    <ul class="list-group list-group-flush" id="list">
    </ul>
</div>
<div class='col-10 col-md-8 mx-auto py-3 px-3 mt-2'>
    <div >
        <span style="display:inline-block ;"><i id="new-reminder-button" style='cursor: pointer;color:#15acf3;' class="fa-solid fa-circle-plus"></i></span>
        <p style="display:inline-block;padding-left: 0.5rem;color: #15acf3;">New Reminder</p>
    </div>
</div>

<script src="{% static 'js/list.js' %}"></script>   
    
    <style>
        .fa-circle {
            cursor: pointer;
        }
    </style>

{% endblock content %}
